[include shell_command.cfg]
# This file contains pin mappings for the stock 2020 Creality Ender 3
# V2. To use this config, during "make menuconfig" select the
# STM32F103 with a "28KiB bootloader" and serial (on USART1 PA10/PA9)
# communication.

# If you prefer a direct serial connection, in "make menuconfig"
# select "Enable extra low-level configuration options" and select
# serial (on USART3 PB11/PB10), which is broken out on the 10 pin IDC
# cable used for the LCD module as follows:
# 3: Tx, 4: Rx, 9: GND, 10: VCC

# Flash this firmware by copying "out/klipper.bin" to a SD card and
# turning on the printer with the card inserted. The firmware
# filename must end in ".bin" and must not match the last filename
# that was flashed.

# See docs/Config_Reference.md for a description of parameters.


[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_2B0045000150414D39343620-if00
restart_method: command


[printer]
kinematics: corexz
max_velocity: 200
max_accel: 2000
max_accel_to_decel: 750
max_z_velocity: 50
max_z_accel: 1000
square_corner_velocity: 4.0

[input_shaper]
shaper_freq_x: 50.4
shaper_freq_y: 36.8
shaper_type_x: mzv
shaper_type_y: mzv

[include macros.cfg]
[include stealthburner_leds.cfg]
#[include macro-z-autocalibrate.cfg]
#[include adxl.cfg]
#[include ScreenBreakout.cfg]
[include Adaptive_Mesh.cfg]
[include Adaptive_Purge.cfg]
[include mainsail.cfg]

[static_digital_output usb_pullup_enable]
pins: !PA14

[virtual_sdcard]
path: /home/pi/printer_data/gcodes

[display_status]

[pause_resume]

[exclude_object]

[skew_correction]

[temperature_sensor raspberry pi]
sensor_type: temperature_host
min_temp: 0
max_temp: 100

[temperature_sensor SKR Mini]
sensor_type: temperature_mcu

#####################################################################
#  X/Y/Z Stepper Settings
#####################################################################

######
# Motor -XM
# Endstop - X-STOP
###############

[stepper_x]
step_pin: PB13
dir_pin: PB12
enable_pin: !PB14
microsteps: 32
full_steps_per_rotation: 200
rotation_distance: 40
endstop_pin: ^PC0
position_endstop: 220 #216
position_min: 0
position_max: 220 #216
homing_speed: 80
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.6
interpolate: False
stealthchop_threshold: 0

######
# Motor -YM
# Endstop - Y-STOP
###############

[stepper_y]
step_pin: PB10
dir_pin: PB2
enable_pin: !PB11
microsteps: 32
full_steps_per_rotation: 200
rotation_distance: 40
endstop_pin: ^PC1
position_endstop: 0
position_min: 0
position_max: 220
homing_speed: 80
homing_positive_dir: false

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.6
interpolate: False
stealthchop_threshold: 0

######
# Motor -ZAM
# Endstop - Z-STOP
###############

[stepper_z]
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
microsteps: 32
full_steps_per_rotation: 200
rotation_distance: 40
#endstop_pin: ^PC2 - mech switch
endstop_pin: probe:z_virtual_endstop
#position_endstop: 0
position_min: -3
position_max: 205
homing_speed: 20

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.6
interpolate: False
stealthchop_threshold: 0

#####################################################################
#   Extruder Settings
#####################################################################

###############
# Motor - EM
###############

[extruder]
max_extrude_only_distance: 100.0
step_pin: PB3
dir_pin: !PB4
enable_pin: !PD1
microsteps: 32
#step_distance: 0.0015
#gear_ratio: 5.1:1 
rotation_distance: 5.7
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC8
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PA0
min_temp: 5
max_temp: 300
min_extrude_temp: 170
max_extrude_only_distance: 780
max_extrude_cross_section: 5
pressure_advance: 0.074    ##  Try to keep pressure_advance below 1.0
pressure_advance_smooth_time: 0.040    ##  Default is 0.040, leave stock

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.5
sense_resistor: 0.110
interpolate: False
stealthchop_threshold: 0

#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
heater_pin: PC9
sensor_type: Generic 3950
sensor_pin: PC4
control: pid
# tuned for stock hardware with 50 degree Celsius target
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
pid_kp = 73.365
pid_ki = 1.658
pid_kd = 811.603
min_temp: 0
max_temp: 120

#####################################################################
#   Fan Control
#####################################################################

[fan]
##  Part Cooling Fan - FAN0
pin: PC6
kick_start_time: 0.5
cycle_time: .08
##  Depending on your fan, you may need to increase this value
##  if your fan will not start. Can change cycle_time (increase)
##  if your fan is not able to slow down effectively
off_below: 0.10

[heater_fan hotend_fan]
##  Hotend Fan - FAN1
pin: PC7
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
##  If you are experiencing back flow, you can reduce fan_speed
#fan_speed: 1.0

[output_pin casefan]
pin: PB15
pwm:true
value: 0
shutdown_value: 0

#[controller_fan controller_fan0] passively run via HEF PC7 above
##  Controller fan - FAN2
#pin: PC7
#max_power: 0.75
#kick_start_time: 0.5
#fan_speed: 0.75
#idle_timeout: 60

#####################################################################

[respond]
default_type: command

# Pause/Resume functionality with support of position capture and restore
[pause_resume]
recover_velocity: 50

[idle_timeout]
timeout: 900

#####################################################################
##   ##Probe
#####################################################################

[bltouch]
sensor_pin: ^PC14
control_pin: PA1
x_offset: 0.0
y_offset: -22.85
#z_offset: 0.5
speed: 5.0
samples: 3
samples_result: average
sample_retract_dist: 0.5
samples_tolerance: 0.02
samples_tolerance_retries: 5
pin_up_touch_mode_reports_triggered: False
probe_with_touch_mode: True
stow_on_each_sample: False
pin_move_time: 0.9


#####################################################################
#   Homing and Bed Mesh
#####################################################################

[safe_z_home]
home_xy_position: 110,110 # Change coordinates to the center of your print bed
speed: 60
z_hop: 10 #0Move up 10mm
z_hop_speed: 10

[bed_mesh]
speed: 120
horizontal_move_z: 8
mesh_min: 10, 2
mesh_max: 210,170
probe_count: 5,5
algorithm: bicubic
fade_start: 1
fade_end: 10
fade_target: 0


[screws_tilt_adjust]
horizontal_move_z: 10
screw1: 25,2.5
screw1_name: front left screw
screw2: 195,2.5
screw2_name: front right screw
screw3: 195,155
screw3_name: rear right screw
screw4: 25,155
screw4_name: rear left screw
speed: 120
screw_thread: CW-M4

[bed_screws]
# With all of this done, you can now level the bed. First, home with G28 and type SCREWS_TILT_CALCULATE to adjust the bed. You can type SCREWS_TILT_CALCULATE multiple times until it's close.
# To level the bed, you can run BED_MESH_CALIBRATE. After calibration, make sure to hit SAVE_CONFIG. Here's a sequence I run for bed leveling: G29
screw1: 25,2.5
screw1_name: front left screw
screw2: 195,2.5
screw2_name: front right screw
screw3: 195,155
screw3_name: rear right screw
screw4: 25,155
screw4_name: rear left screw
# horizontal_move_z: 10
# speed: 50
# screw_thread: CW-M4



#####################################################################
#   Case Lights
#####################################################################





########################################
# EXP1 / EXP2 (display) pins
########################################

##[board_pins]
##aliases:
## EXP1_1=PC6,EXP1_3=PB10,EXP1_5=PB14,EXP1_7=PB12,EXP1_9=<GND>,
## EXP1_2=PB2,EXP1_4=PB11,EXP1_6=PB13,EXP1_8=PB15,EXP1_10=<5V>,
## PROBE_IN=PB0,PROBE_OUT=PB1,FIL_RUNOUT=PC


# [display]
# lcd_type: st7920
# cs_pin: PB12
# sclk_pin: PB13
# sid_pin: PB15
# encoder_pins: ^PB14, ^PB10
# click_pin: ^!PB2

#####################################################################
#   Displays
#####################################################################


#[display]
##  mini12864 LCD Display
#lcd_type: uc1701
#cs_pin: EXP1_3
#a0_pin: EXP1_4
#rst_pin: EXP1_5
#encoder_pins: ^EXP2_5, ^EXP2_3
#click_pin: ^!EXP1_2
#contrast: 63
#spi_software_miso_pin: EXP2_1
#spi_software_mosi_pin: EXP2_6
#spi_software_sclk_pin: EXP2_2

#[output_pin beeper]
#pin: EXP1_1

#[neopixel btt_mini12864]
##  To control Neopixel RGB in mini12864 display
#pin: EXP1_6
#chain_count: 3
#initial_RED: 1.0
#initial_GREEN: 0.373
#initial_BLUE: 0.122
#color_order: RGB

##  Set RGB values on boot up for each Neopixel. 
##  Index 1 = display, Index 2 and 3 = Knob
#[delayed_gcode setdisplayneopixel]
#initial_duration: 1
#gcode:
 #       SET_LED LED=btt_mini12864 RED=1 GREEN=.373 BLUE=.122 INDEX=1 TRANSMIT=0
  #      SET_LED LED=btt_mini12864 RED=1 GREEN=.373 BLUE=.122 INDEX=2 TRANSMIT=0
   #     SET_LED LED=btt_mini12864 RED=1 GREEN=.373 BLUE=.122 INDEX=3

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 33.600
#*# pid_ki = 3.394
#*# pid_kd = 83.161
#*#
#*# [heater_bed]
#*#
#*# [bltouch]
#*# z_offset = 1.398
#*#
#*# [stepper_z]
#*# position_endstop = -0.041
#*#
#*# [skew_correction my_skew_profile]
#*# xy_skew = -0.00280477409665
#*# xz_skew = 0.0
#*# yz_skew = 0.0
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.123958, 0.069792, 0.059375, 0.098958
#*# 	  0.096875, 0.059375, 0.046875, 0.108333
#*# 	  0.065625, 0.026042, 0.048958, 0.098958
#*# 	  0.048958, -0.009375, 0.040625, 0.117708
#*# x_count = 4
#*# y_count = 4
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 45.47
#*# max_x = 172.88
#*# min_y = 45.63999999999999
#*# max_y = 169.99
